# Applications
apps/tcp_echo
apps/udp_echo
apps/router

# Test programs
test/raw_test
test/ethernet_test
test/slip_test
test/arp_test

# Object files
*.o
*.ko
*.obj
*.elf
*.dSYM

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Other files
*.swp
